@font-face {
  font-family: "Hylia";
  src: local("Hylia"), url('./HyliaSerifBeta-Regular.otf') format("truetype");
}

@font-face {
  font-family: "Triforce";
  src: local("Triforce"), url('./Triforce.ttf') format("truetype");
}